<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"pe-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group pe-main" id="pe-main-content">
	<!-- wp:shortcode -->
	[primeestate_breadcrumbs]
	<!-- /wp:shortcode -->

	<!-- wp:query-title {"type":"archive"} /-->

	<!-- wp:shortcode -->
	[primeestate_location_archive]
	<!-- /wp:shortcode -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
